<?xml version="1.0" encoding="utf-8"?>

<launch>

  <node pkg="nodelet" type="nodelet" name="standalone_nodelet"  args="manager" output="screen"/>

  <rosparam param="camera_signalman" file="$(find camera_signalman)/config/ros.yaml"/>
  <node pkg="nodelet" type="nodelet" name="camera_signalman" args="load camera_signalman/camera_signalman_nodelet standalone_nodelet" output="screen">
    <rosparam file="$(find camera_signalman)/config/ros.yaml"/>
  </node>

  <node pkg="nodelet" type="nodelet" name="cv_camera" args="load cv_camera/CvCameraNodelet standalone_nodelet" output="screen"/>
</launch>
