<?xml version="1.0" encoding="utf-8"?>

<launch>

  <arg name="manager" value="camera_signalman_manager"  />

  <arg name="camera1"               default="camera1"   />
  <arg name="camera1_camera_type"   default="R200"      /> <!-- Type of camera -->
  <arg name="camera1_serial_no"     default="2411013612"          /> <!-- Note: Replace with actual serial number -->
  <arg name="camera1_usb_port_id"   default=""          /> <!-- USB "Bus#-Port#" -->

  <arg name="camera2"               default="camera2"   />
  <arg name="camera2_camera_type"   default="R200"      /> <!-- Type of camera -->
  <arg name="camera2_serial_no"     default="2451011005"          /> <!-- Note: Replace with actual serial number -->
  <arg name="camera2_usb_port_id"   default=""          /> <!-- USB "Bus#-Port#" -->

  <arg name="camera3"               default="camera3"   />
  <arg name="camera3_camera_type"   default="R200"      /> <!-- Type of camera -->
  <arg name="camera3_serial_no"     default="2401001385"          /> <!-- Note: Replace with actual serial number -->
  <arg name="camera3_usb_port_id"   default=""          /> <!-- USB "Bus#-Port#" -->

  <node pkg="nodelet" type="nodelet" name="$(arg manager)"  args="manager" output="screen"/>

  <rosparam param="camera_signalman" file="$(find camera_signalman)/config/ros.yaml"/>
  <node pkg="nodelet" type="nodelet" name="camera_signalman" args="load camera_signalman/camera_signalman_nodelet $(arg manager)" output="screen">
    <rosparam file="$(find camera_signalman)/config/ros.yaml"/>
  </node>

  <group ns="$(arg camera1)">
    <include file="$(find realsense_camera)/launch/includes/nodelet.launch.xml">
      <arg name="manager"      value="/$(arg manager)" />
      <arg name="camera"       value="$(arg camera1)" />
      <arg name="camera_type"  value="$(arg camera1_camera_type)" />
      <arg name="serial_no"    value="$(arg camera1_serial_no)" />
      <arg name="usb_port_id"  value="$(arg camera1_usb_port_id)" />
    </include>
  </group>

  <group ns="$(arg camera2)">
    <include file="$(find realsense_camera)/launch/includes/nodelet.launch.xml">
      <arg name="manager"      value="/$(arg manager)" />
      <arg name="camera"       value="$(arg camera2)" />
      <arg name="camera_type"  value="$(arg camera2_camera_type)" />
      <arg name="serial_no"    value="$(arg camera2_serial_no)" />
      <arg name="usb_port_id"  value="$(arg camera2_usb_port_id)" />
    </include>
  </group>

  <group ns="$(arg camera3)">
    <include file="$(find realsense_camera)/launch/includes/nodelet.launch.xml">
      <arg name="manager"      value="/$(arg manager)" />
      <arg name="camera"       value="$(arg camera3)" />
      <arg name="camera_type"  value="$(arg camera3_camera_type)" />
      <arg name="serial_no"    value="$(arg camera3_serial_no)" />
      <arg name="usb_port_id"  value="$(arg camera3_usb_port_id)" />
    </include>
  </group>

</launch>
